static = ''
if environment == "production"
  static = 'https://learn.jsbin.com'
if environment == "test"
  static = 'http://localhost:9000'

pagetitle = siteTitle
if title
  pagetitle = title + ' - ' + siteTitle

//- sad panda code: the path of the partial is relative to the request
//- *not* the file being included (ie. this one).
//- so we're using the path.length (ie. ['blog', 'index']) as the number
//- of periods to add for path navigation.
- function repeat(str, num) { return new Array( num + 1 ).join( str ); }

prefix = repeat('.', current.path.length).split('..').join('../')

doctype
html(id="#{current.path.join('-')}-page")
  head
    meta(charset='utf-8')
    title #{(pagetitle||'').replace(/^\* /, '')}
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='JS Bin help documentation, tips, tricks, features and blog')
    link(rel='icon', href='#{static}/images/favicon.png')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:700,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='#{static}/css/github.css')
    link(rel='stylesheet', href='#{static}/css/help.css')
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
    != partial(prefix + '/js/moment')
    block head
    if environment == "production"
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{analytics}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();

  body(id="#{current.path[0]}-page")
    #container
      header
        .inner
          a#back(href='/')
            span.morewords Back to JS Bin
          nav
            block link
              input#search(placeholder="Search...", spellcheck="false", autocapitalize="off", autocorrect="off")
              ol#results(hidden=true)
            -var selected = '/' + current.path.join('/'); //default
            -var menu = { 'Account': jsbin + '/account', 'Blog': '/blog', 'Help': '/help' };
            -var menu = { 'Blog': '/blog', 'Help': '/help' };

            each val, key in menu
              if selected.indexOf(val) === 0
                a.selected(href=val)= key
              else
                a(href=val)= key
      #body
        - yield = partial(prefix + '/js/_idify')
        - if (yield) yield = yield.replace(/src="\/([^/])/g, 'src="' + static + '/$1')
        if category == 'pro'
          a.pro-feature.actionButton.actionButton-primary.actionButton-small.actionButton-rounded(href="http://jsbin.com/upgrade") <small>£5/month</small>Upgrade to Pro
        if current.path.slice(-1).pop() !== 'index' && current.path.slice(-2, 1).pop() !== 'legals'
          article
            block content
        else
          block content
      .clear
    footer#footer
      .inner
        ul.notable
          //- li
          //-   a(href='/supporters') Supporters
          li
            a(href='/about') About
          li
            a(href='https://github.com/jsbin') Github
          li
            a(href='https://twitter.com/js_bin') Twitter
          li
            a(href='http://jsbin.com/videos') YouTube
          li
            a(href='https://www.gittip.com/js_bin') Donate
        ul.legal
          li: em: a(href='/help/what-is-jsbin') Hack. Learn. Fix. Teach.
  script(type="text").
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400italic,400,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  script(src='#{static}/js/min.js')
  script(src='#{static}/js/notify.js')
  script(src='#{static}/js/permalink.js')
  script(src='#{static}/js/search.js')
  script(src='#{static}/js/xhr.js')
  script(src='#{static}/js/keyboard.js')
  script(src='#{static}/js/back-button.js')
  script(src='#{static}/js/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();
