static = ''
if environment == "production"
  static = 'http://learn.jsbin.com/'
doctype
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width')
    link(rel='icon', href='#{static}/images/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='#{static}/css/github.css')
    link(rel='stylesheet', href='#{static}/css/help.css')
    != partial('../js/moment')
    block head
  body(id="#{current.path[0]}-page")
    #container
      header
        .inner
          a#back(href='/')
            span.morewords Back to JS Bin
          nav
            block link
            -var selected = '/' + current.path.join('/'); //default
            -var menu = { 'Account': jsbin + '/account', 'Blog': '/blog', 'Help': '/help' };
            -var menu = { 'Blog': '/blog', 'Help': '/help' };

            each val, key in menu
              if selected.indexOf(val) === 0
                a.selected(href=val)= key
              else
                a(href=val)= key
      #body
        //- sad panda code: the path of the partial is relative to the request
        //- *not* the file being included (ie. this one).
        //- so we're using the path.length (ie. ['blog', 'index']) as the number
        //- of periods to add for path navigation.
        - function repeat(str, num) { return new Array( num + 1 ).join( str ); }
        - yield = partial(repeat('.', current.path.length) + '/js/_idify')
        - yield = yield.replace(/src="\//g, 'src="' + static + '/');
        if current.path.slice(-1).pop() !== 'index'
          article
            block content
        else
          block content
      .clear
    footer#footer
      .inner
        ul.notable
          //- li
          //-   a(href='/supporters') Supporters
          li
            a(href='/about') About
          li
            a(href='http://github.com/jsbin') Github
          li
            a(href='http://twitter.com/js_bin') Twitter
          li
            a(href='http://jsbin.com/videos') YouTube
        ul.legal
          li: em "Hack. Learn. Fix. Teach."
          //- li
            a(href='/legals') Legals
  script(type="text").
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400italic,400,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  script(src='#{static}/js/permalink.js')
  script(src='#{static}/js/keyboard.js')
  script(src='#{static}/js/highlight.pack.js')
  script.
    hljs.initHighlightingOnLoad();